html,body{height:100%;}
		*{margin:0;padding:0;}
		body{display:flex;flex-direction: column;background:white;}
		ul,li{list-style:none;}
		a{text-decoration:none;}
		h1,h2,h3,h4,h5,h6{font-weight:normal;}
		
		html{font-size:13.3333vw;}
		
		.head{width:100%;height:1.6rem;background:white;display:flex;flex-direction:column;}
        .head_u{width:100%;height:0.68rem;background:white;display:flex;justify-content: space-between;}
        .head_u li{display:flex;}
        .head_u .iconfont{font-size:0.3rem;margin-left:0.14rem;}
        .head_u p{font-size:0.24rem;color:#969896;}
        .head_d{width:100%;height:2rem;border-bottom:solid 0.01rem #D8D8D8;display:flex;justify-content: space-between;}
        .head_d .iconfont{font-size:0.4rem;color:#6C7076;line-height:1rem;}
        .head_d h2{font-size:0.4rem;color:#969896;line-height:1rem;}
        .head_d p{width:0.32rem;height:0.32rem;}
        .content .list li{display:flex;width:100%;height:1.5rem;border-bottom:solid 0.01rem #D8D8D8;}
        .content .list li .icon{width:1.18rem;height:1.18rem;border-radius:50%;margin:0.15rem;}
        .content .list li .icon:nth-child(1){background:#FE8C93;}
        .content .list li .icon:nth-child(2){background:#FCAC54;}
        .content .list li .icon:nth-child(3){background:#979797;}
        .content .list li .icon:nth-child(4){background:#FE8061;}
        .content .list li .iconfont{font-size:0.54rem;color:#FFFFFF;margin:0.01rem 0.24rem 0.36rem 0.24rem;}
        .content .list li .list_w h2{font-size:0.32rem;color:#333333;line-height:0.8rem;}
        .content .list li .list_w h3{font-size:0.24rem;color:#666666;line-height:0.1rem;}
        .content .list li .list_w{width:6rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
