html,body{height: 100%;}
body{display:flex;flex-direction: column;}
html{font-size: 13.3333vw;}
header{height: 5.1rem;background:url(../images/lzxgg.png) no-repeat ;background-size: cover;}
.header1{height: 0.34rem;display: flex;justify-content:space-between;line-height: 0.34rem;}
.header1 span{font-size: 0.3rem;}
.header1 p{font-size: 0.22rem;}
.header1 .left{width: 0.8rem;height: 0.34rem;}
.header1 .right{width: 1.7rem;height: 0.34rem;}
.header1 .center{width:1rem;height: 0.34rem;}
.header2 {height: 0.44rem;overflow: hidden;margin-top:0.2rem}
.header3{height: 1.3rem;overflow: hidden;}
.tou{width:1rem;height: 1rem;border-radius: 50%;margin-left: 0.24rem;
margin-top: 0.08rem;float: left;}
.tou img{width:1rem;height: 1rem;}
.name{width: 1.5rem;height: 0.5rem;float: left;margin-top:0.36rem;
margin-left: 0.4rem;font-size: 0.28rem;color: #eeeeee;line-height: 0.5rem;text-align: center;}
.kefu{margin-left: 6.2rem;font-size: 0.35rem;}
.xiaoxi{margin-left: 0.15rem;font-size: 0.35rem;}
.qiandao{width:1.44rem ;height: 0.8rem;float:right;margin-top: 0.16rem;
margin-right: 0.26rem;position: relative;}
.shang{float: left;width:0.12rem;height: 0.2rem;}
.shang:nth-of-type(2){left:1.07rem;position: absolute;top: 0.02rem;}
.shang:nth-of-type(1){left:0.26rem ;position: absolute;top: 0.02rem;}
.xia{margin-top:-0.08rem ;width:1.44rem;height:0.8rem;margin-top: 0.15rem;position: relative;}
.mei{float: left;position: absolute;left: 0.24rem;z-index: 1;top: 0.3rem;
font-size: 0.22rem;color: #666666;width: 1rem;}
.header4{height: 1.6rem;overflow: hidden;}
.head4_1{width: 0.8rem;height: 0.88rem;margin-left: 1.16rem;
margin-top: 0.4rem;float: left;text-align: center;font-size: 0.26rem;color: #eeeeee;}
.head4_1:nth-of-type(2){margin-left: 0.68rem;}
.head4_1:nth-of-type(3){margin-left: 0.68rem;}
.head4_1:nth-of-type(4){margin-left: 0.68rem;}
.header5{width: 7rem;height: 1.1rem;background: #eee0c4;border-radius: 0.25rem;margin-left: 0.26rem;
margin-top: 0.2rem;overflow: hidden;}
.zhuan{width: 2.2rem;height: 0.6rem;background:#302f34;margin-left: 4.36rem;margin-top: 0.26rem;
border-radius: 0.5rem;text-align: center;line-height: 0.6rem;}
.zhuan span{font-size: 0.22rem;color: #b39b65;}
.vip{width: 2rem;height: 0.5rem;float: left;margin-left: 0.36rem;margin-top: 0.36rem;
color: #b39b65;}
.vip img{float: left;width: 0.4rem;height: 0.34rem;}
.vip span{float: left;font-size: 0.26rem;}

section{flex:1;overflow-y:auto;background: #f8f8f8;}
.gongju{width:7rem ;height:4.32rem ;background:#ffffff ;border-radius: 0.24rem;
margin-left: 0.26rem;margin-top: 0.2rem;overflow: hidden;}
.biao{height: 0.4rem;width: 1.5rem;font-size: 0.28rem;margin-top: 0.1rem;margin-left: 0.1rem;}
.fenlei li{width: 1.34rem;height: 1.2rem;float: left;margin-left: 0.26rem;
margin-top: 0.3rem;text-align: center;line-height: 0.4rem;color: #a0a0a0;}
.fenlei li img{margin-left: 0.4rem;}
.fenlei{width:7rem ;height: 3.1rem;}
.shouhuo{width: 7rem;height: 0.7rem;background:#ffffff ;border-radius: 0.24rem;
margin-left: 0.26rem;margin-top: 0.2rem;overflow: hidden;}
.shouhuo img{width: 0.6rem;height: 0.56rem;margin-left: 0.2rem;margin-top: 0.1rem;float: left;}
.shouhuo .zi{float:left;width:1rem ;height:0.28rem ;font-size:0.22rem ;color:#666666 ;margin-left:0.46rem ;margin-top:0.2rem ;}


footer{height: 0.96rem;background: #333333;}
.nav li{width: 0.56rem;height: 0.8rem;float: left;flex: 1;
display: flex;justify-content: center;align-items:center ;flex-direction: column;text-align: center;}
.nav{display: flex;margin-top: 0.1rem;}
.nav  img{width: 0.4rem;height: 0.4rem;}
.fa img{width: 0.6rem;height: 0.4rem;}
.nav p{font-size: 0.2rem;margin-top: 0.12rem;color: #f3f3f3;}